* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Open sans", sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
