header {
  .overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
  }
  video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  img {
    margin: 2rem 0;
  }
  .landpage {
    background-color: rgba(0, 0, 0, 0);
  }
  .landpage-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    .frase {
      text-align: center;
      color: var(--white);
      font-size: 4.2rem;
    }
    .register-btn {
      width: 18rem;
      height: 5rem;
      color: var(--white);
      background-color: rgba(0, 0, 0, 0);
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 1.8rem;
      border: 3px solid var(--white);
      &:hover {
        color: var(--midBlue);
        border: 3px solid var(--midBlue);
        text-shadow: none;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      &:active {
        background-color: lightgray;
        transition: all 0.1s ease;
      }
    }
  }
}
