main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .quienesSomos {
    width: 100vw;
    background-image: url("../../assets/mexicoBeach.jpg");
    background-size: cover;
    img {
      width: 40rem;
    }
  }
  .objetivos {
    img {
      width: 60rem;
    }
  }
}
